<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world' .toUpperCase()%>
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus maiores ducimus quia cupiditate quidem
        explicabo nobis molestias! Vitae ullam voluptates maiores sit enim tenetur ipsa? Et deleniti magnam recusandae!
        Omnis.</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate similique cum doloremque minus in
        voluptatibus doloribus perspiciatis nesciunt vero quis pariatur, sed maxime excepturi soluta enim dolore
        reiciendis quae suscipit!</p>
</body>

</html>